# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
case_insider

# Test binary
*.test

# Output of go coverage tool
*.out

# Go workspace
go.work
go.work.sum

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
